In [ ]:
Introduction to list datatype :

In [ ]:
definition : A list is a collection of items declared in a particular order. 

classification : it is classified as a mutable datatype
    
how to define / declare a list .... ? =====> []

In [7]:
students = ['naveen','abdul','imran','joseph','keerthi','shaheen','dolly','navya']#0,1,2,3,4,5,6,7

In [8]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [9]:
type(students)

list

In [ ]:
1. how to access the above elements in the list....?

In [ ]:
#req : how to access abdul name from the above list ?

In [ ]:
introduction to indexing : 0,1,2,3,........!

In [11]:
print(students[1])

abdul

In [ ]:
#req : i want to print keerthi name from the above list... ?

In [12]:
print(students[4])

keerthi

In [ ]:
1. how to add new elements to the list
2. how to modify the elements in the list
3. how to delete the elements from the above list... ?

In [13]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [ ]:
# req 1 : want to add kumar name to the list

In [14]:
students.append('kumar')

In [15]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [ ]:
# req : I want to add sana name to the list

In [16]:
students.append('sana')

In [17]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
#req : I want to add yamini name to the above list at the 2nd position.....?

In [18]:
students.insert(2,'yamini')

In [19]:
print(students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [20]:
print(students[2])

yamini

In [ ]:
interview question : what is the difference between append and insert method in the list... ?

In [21]:
print(students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
# Req 2 : I want to modify naveen name to navya....?

In [23]:
print(students[0])

naveen

In [25]:
students[0] = 'navya'

In [26]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
# req 3 : I want to delete joseph name from the list

In [28]:
del students[4]  # permanently deleting the elements from the list

In [29]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
# temp deleting the elements from the list --****

In [ ]:
pop ---> it is used to delete the the things temp ===> it will be carbon copy of the deleted items and stores in the variable assigned to it. 

pop ----> by default will be deleting the last element in the list.

In [30]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [31]:
x = students.pop()

In [32]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [33]:
print(x)

sana

In [ ]:
Interview question : what is the difference betweeen delet and pop method in a list.... ?