In [ ]:
continuation with list datatype

In [ ]:
organising the list datatypes :

In [1]:
cars = ['kia', 'suzuki', 'audi', 'benz', 'tata', 'bmw']

In [2]:
print(cars)

['kia', 'suzuki', 'audi', 'benz', 'tata', 'bmw']

In [ ]:
#req = I want to display the list in the alphabetical order ...? A-z

In [ ]:
1. temp approach ======> changes are applied temp ===> sorted 
2. permanent approac ====> changes are applied permanently =====> sort

In [3]:
print(sorted(cars)) # temp approach

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [5]:
print(cars) # it is giving me the original order.... !

['kia', 'suzuki', 'audi', 'benz', 'tata', 'bmw']

In [7]:
cars.sort()   # permanent approach

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [9]:
print(cars) # changes are applied permanently

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [ ]:
Interview : what is the difference btw sorted and sort method in a list datatype ? explain ?

In [10]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [ ]:
# req : I want to print the list in the reverse order...?

In [11]:
cars.reverse()

In [12]:
print(cars) # revers order Z-A

['tata', 'suzuki', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
# req : I want to count the number of elements in the list...?

In [13]:
len(cars)

6

In [ ]:
Introduction to slicing :

In [14]:
students = ('ravi','joseph','naved','imran','keerthi','shaheen','dolly','roohi')

In [19]:
print(students)

('ravi', 'joseph', 'naved', 'imran', 'keerthi', 'shaheen', 'dolly', 'roohi')

In [20]:
type(students)

tuple

In [21]:
type(students)

tuple

In [22]:
students = ['ravi','joseph','naved','imran','keerthi','shaheen','dolly','roohi']

In [23]:
type(students)

list

In [ ]:
general syntax for slicing :

In [ ]:
list[startvalue:stopvalue:stepcount]

Note : Stop value is always exclusive, to include the stop value have to increase the index by +1.

In [ ]:
# Req : I want to include ravi and joseph in the list

In [24]:
print(students[0:1])

['ravi']

In [25]:
print(students[0:2]) #Req : ravi and Joseph

['ravi', 'joseph']

In [26]:
print(students[2:4]) # req : naved and imran

['naved', 'imran']

In [ ]:
# req : dolly and roohi

In [27]:
print(students[6:8])

['dolly', 'roohi']

In [28]:
print(students)

['ravi', 'joseph', 'naved', 'imran', 'keerthi', 'shaheen', 'dolly', 'roohi']

In [29]:
print(students[0:7:2]) # index difference of two upto index 7

['ravi', 'naved', 'keerthi', 'dolly']

In [30]:
print(students[0:6:3])  # index difference of three upto index 6

['ravi', 'imran']